@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    color: #129D8B;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header,
main,
footer {
    padding: 0 10%;
}

.logo {
    width: auto;
    height: 42px;
}

main {
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.menu {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    list-style: none;
    padding: 20px;
}

.menu ul {
    padding: 0;
    margin: 0;
}
.foto-perfil {
    width: 30%; 
    margin: 0 auto; 
    text-align: center; 
    color: black;
    padding: 20px; 
}

.foto{
    width: 60%;
}
.cadastro {
    width: 75%;
    padding: 20px;
    justify-content: center;
}

.item-menu {
    color: #129D8B;
    border-radius: 12px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
    cursor: pointer;
}

.perfil {
    background-color: #107D6F;
    color:#ffffff;
}

i {
    font-size: 25px;
    color: #129D8B;
}
.btn-atualizar {
    width: 100%;
    margin: 10px auto; /* Define a margem superior e inferior como 10px e a margem esquerda e direita como automática para centralizar horizontalmente */
    background: linear-gradient(to right, #129D8B, #4CD362);
    color: #ffffff;
    border: none;
}

.icon{
    width: 25px;
    height: 32px;
}
footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 10px;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    color:#129D8B;
}
